{
    "plugins": [
        [
            "module-resolver", {
            "root": ["."],
            "alias": {
                "styles": "./src/styles",
                "components": "./src/components",
                "actions": "./src/actions",
                "services": "./src/services",
                "config": "./src/config",
                "records": "./src/records"
            },
            "cwd": "babelrc"
        }],
        "transform-class-properties", // stage 2
        "transform-object-rest-spread", // stage 3
        "transform-runtime",
        "transform-export-extensions"
    ],
    "ignore": [],
    "presets": [
        [ "env", { "loose": true } ],
        "react"
    ]
}
