body {
    overflow-x: hidden;
}

.logo-big, .logo-small {
    height: @logo-height;
    width: 100%;
    position: relative;
    display: block;
    background: lighten(@layout-sider-background, 5%);

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 20px;
        bottom: 20px;
        left: 15px;
        right: 15px;
    }
}

.fadeInUpSmall-exit {
    display: none;
}

.fadeInUpSmall-enter {
    opacity: 0.01;
    transform: translate3d(0, 5%, 0);
}

.fadeInUpSmall-enter.fadeInUpSmall-enter-active {
    opacity: 1;
    transform: none;
    transition: all .2s ease-in;
}

h1 {
    display: flex;
    position: relative;
    align-items: center;
    white-space: nowrap;
    margin-top: 20px;

    &:before {
        content: '';
        width: 5px;
        height: 40px;
        background-color: @border-color-base;
        display: flex;
        margin: 0 15px 0 0;
    }

    &:after {
        content: '';
        width: 100%;
        height: 1px;
        top: 50%;
        background-color: @border-color-base;
        display: flex;
        margin: 0 0 0 15px;
    }

    span {
        background: @layout-body-background;
        color: @text-color;
    }

    small {
        font-size: 0.5em;
        font-weight: normal;
        color: @text-color-secondary;
    }
}

.content-section {
    background: #fff;
    padding: @padding-md;
}

.ant-table-row {
    background: white;
}

.vertical-center-wrapper {
    position: fixed;
    background-size: cover;
    z-index: 10000;

    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;

    .vertical-center-inner {
        display: table-cell;
        vertical-align: middle;
    }
}
